.card-list {
  display: flex;
  width: 100%;
  list-style: none;
  overflow-x: auto;
}

.card-list>li {
  margin: 4px 8px;
}

.card-list::-webkit-scrollbar {
  height: 10px;
}
.card-list::-webkit-scrollbar-track {
  background: transparent;
}
.card-list::-webkit-scrollbar-thumb {
  background-color: var(--black);    /* color of the scroll thumb */
  border-radius: 10px;       /* roundness of the scroll thumb */
  border: 1px solid var(--primary);  /* creates padding around scroll thumb */
}